{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="{% static 'logo.webp' %}" rel="icon">
        <link href="{% static 'styles.css' %}" rel="stylesheet">

        <title>MOVIED</title>

    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/">
                <span class="blue">MO</span><span class="red">VI</span><span class="yellow">ED</span><span class="green" style="margin-right: 350px;"> :)</span>
            </a>
            <a href="/">
                <span style="color: black">Rate & learn about movies</span>
            </a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto mt-2">
                        {% if not user.is_authenticated %}
                            <li>
                                <form method="post">
                                    {% csrf_token %}
                                    <a href="{% url 'signup' %}" class="boto" type="submit">Sign Up</a>
                                </form>
                            </li>
                            <li>
                                <form method="post">
                                    {% csrf_token %}
                                    <a href="{% url 'login' %}" class="boto" type="submit">Log In</a>
                                </form>
                            </li>
                        {% else %}
                            <li>
                                <form method="post">
                                    {% csrf_token %}
                                    <a href="{% url 'logout' %}" class="boto" type="submit">Log Out</a>
                                </form>
                            </li>
                        {% endif %}
                    </ul>
            </div>
        </nav>
        <main class="container p-5">
            {% block content %}
            {% endblock %}
        </main>
    </body>

</html>
