{% extends "base.html" %}

{% block content %}
    <div class="background-overlay" property="schema:background-overlay"></div>
    <div class="reservation-container" typeof="schema:Reservation schema:Event">
        <div class="reservation-header-container">
            <a href="{% url 'list-reservations' %}" class="btn-back" property="schema:url">Back</a>
            <h2 class="reservation-header" property="schema:name">Edit Reservation</h2>
        </div>
        <form method="post" property="schema:potentialAction">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Add" name="sub_button" class="reserve-button"
                    property="schema:potentialAction">Save changes
            </button>
        </form>
    </div>

    <style>
        .reservation-container {
            background-color: lightblue;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            border: 2px solid #000;
            width: 600px;
            margin: 0 auto;
            text-align: center;
        }

        .reservation-header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .btn-back {
            padding: 7px 14px;
            background-color: ivory;
            color: black;
            text-decoration: none;
            border-radius: 5px;
            border: 1.5px solid #000;
            font-weight: bold;
        }

        .reserve-button {
            display: block;
            margin: 20px auto 0;
            padding: 10px 20px;
            background-color: darkblue;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }

        .reservation-header {
            margin: 0 auto;
            font-size: 24px;
            font-family: Monospaced, sans-serif;
            text-transform: uppercase;
            font-weight: bold;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        select, input {
            display: block;
            margin: 0 auto;
            padding: 5px;
            width: 50%;
        }

        .background-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.6);
            z-index: -1;
        }

    </style>
{% endblock %}