{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="/home" method="post" class="form-group1">
            <a class="navbar-brand">Hi {{ user.username }}!</a>
        </form>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <body>
        <form action="/home" method="post" class="form-group1">
            <a class="navbar-brand">You Are Not Logged</a>
        </form>
        </body>
    {% endif %}
{% endblock %}