{% extends "base.html" %}

{% block content %}
    <div class="background-overlay"></div>
    <div class="greeting-container">
        <a class="navbar-brand" style="font-size: larger; font-weight: bold;">Welcome! Choose any film to make a reservation:</a>
    </div>

    <div class="grid-container">
        <div class="grid-row">
            {% for movie in movies %}
                {% if forloop.counter0|divisibleby:6 %}
                    </div><div class="grid-row">
                {% endif %}
                <div class="grid-item" style="text-align: center; font-size: smaller; width: calc(16.6666% - 10px);">
                    <a href="{% url 'movie-reservation' id_cinema movie.id_movie %}">
                        <img src="{{ movie.poster }}" alt="{{ movie.name }} Poster" style="max-width: 100%; height: auto; max-height: 150px;">
                    </a>
                    <p>{{ movie.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .grid-container {
            display: grid;
            gap: 10px;
            background-color: white;
            padding: 20px;
            border: 2px solid #000;
            overflow-x: auto;
            text-align: center;
            border-radius: 10px;
        }

        .greeting-container {
            background-color: lightblue;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border: 2px solid #000;
            width: 60%;
            display: inline-block;
            margin-bottom: 10px;
        }

        .grid-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .grid-item {
            text-align: center;
            font-size: smaller;
        }

        .grid-item img {
            max-width: 100%;
            height: auto;
            max-height: 150px;
        }

        .background-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.6);
            z-index: -1;
        }
    </style>
{% endblock %}
