{% extends "base.html" %}

{% block content %}
    <div class="background-overlay"></div>
    {% if movie %}
        <div class="movie-details-container">
            <h1 class="movie-title">{{ movie.name }}</h1>
            <div class="movie-content">
                <div class="movie-details">
                    <p><strong>Year:</strong> {{ movie.year }}</p>
                    <p><strong>Duration:</strong> {{ movie.duration }}</p>
                    <p><strong>Price:</strong> {{ movie.price }}</p>
                    <p><strong>Genre:</strong> {{ movie.genre }}</p>
                    <p><strong>Description:</strong> {{ movie.overview }}</p>
                </div>
                <div class="movie-poster">
                    <img src="{{ movie.poster }}" alt="{{ movie.name }} Poster">
                </div>
            </div>
        </div>
    {% else %}
        <p>Movie not found</p>
    {% endif %}
    
    <style>
        .movie-details-container {
            overflow-x: auto;
            text-align: center;
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 600px;
            height: auto;
            display: inline-block;
            border-radius: 10px;
            border: 2px solid #000;
        }
        .movie-title {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .movie-content {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .movie-details {
            flex: 1;
            text-align: left;
        }
        .movie-poster {
            margin-left: 20px;
        }
        .movie-poster img {
            max-width: 100%;
            height: auto;
            max-height: 300px;
        }
        .background-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.6);
            z-index: -1;
        }
    </style>
{% endblock %}
