{% extends "base.html" %}

{% block content %}
    <div class="background-overlay"></div>
    {% if movie %}
        <div class="movie-details-container">
            <h1 class="movie-title">{{ movie.name }}</h1>
            <div class="movie-content">
                <div class="movie-details">
                    <p><strong>Year:</strong> {{ movie.year }}</p>
                    <p><strong>Duration:</strong> {{ movie.duration }}</p>
                    <p><strong>Price:</strong> {{ movie.price }}</p>
                    <p><strong>Genre:</strong> {{ movie.genre }}</p>
                    <p><strong>Description:</strong> {{ movie.overview }}</p>
                </div>
                <div class="movie-poster">
                    <img src="{{ movie.poster }}" alt="{{ movie.name }} Poster">
                </div>
            </div>
            <h2 class="reservation-header">Book Your Tickets</h2>
            <form method="post" action="{% url 'confirm-reservation' id_cinema movie.id_movie %}" id="reservation-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="showtime">Select Showtime:</label>
                    <select id="showtime" name="showtime" required>
                        <option value="" disabled selected>Select a time</option>
                        <option value="18">18:00</option>
                        <option value="20">20:00</option>
                        <option value="22">22:00</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="num_people">Select tickets:</label>
                    <input type="number" id="num_people" name="num_people" min="1" max="10" required>
                </div>
                <button type="submit" value="Add" name="sub_button" class="reserve-button">Confirm Reservation</button>
            </form>
        </div>
    {% else %}
        <p>Movie not found</p>
    {% endif %}

    <script>
        document.getElementById('reservation-form').addEventListener('submit', function (event) {
            event.preventDefault();
            alert('Reservation confirmed');
            this.submit();
        });
    </script>

    <style>
        .movie-details-container {
            overflow-x: auto;
            text-align: center;
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 600px;
            height: auto;
            display: inline-block;
            border-radius: 10px;
            border: 2px solid #000;
        }

        .movie-title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .movie-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
        }

        .movie-details {
            flex: 1;
            text-align: left;
            margin-right: 20px;
        }

        .movie-poster {
            flex: 1;
            margin-left: 20px;
        }

        .movie-poster img {
            max-width: 100%;
            height: auto;
            max-height: 300px;
        }

        .reservation-header {
            margin-top: 40px;
        }

        .background-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.6);
            z-index: -1;
        }
    </style>
{% endblock %}
